<% @app.comments.each do |comment| %>
  <div class="comment">
    <h><%= comment.first_name %> <%= comment.last_name %></h>
    <p class="comment-email"><%= comment.email %></p>
    <p class="comment-content"><%= comment.content %></p>
  </div>
<% end %>